out
*.apk
*.class
bin/*
gen
drawable-ldpi
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
*.iml
.DS_Store
.settings
gradle.properties
build/
/captures
.externalNativeBuild
secure.properties
app/libs/
app/src/main/res/mipmap-xxhdpi/
app/src/main/res/mipmap-xxxhdpi/
